# Dependencies
node_modules
npm-debug.log

# Environment files
.env
.env.*

# Git and documentation
.git
.gitignore
README.md

# Docker files
Dockerfile
.dockerignore

# Testing and coverage
coverage
.nyc_output

# Development tools
.husky

# Logs
logs
*.log